body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:hover {
  color: #00B7FF;
  cursor: pointer;
}

li:hover {
  background-color: black;
  cursor: pointer;
}

.clickable-tr>td:hover {
  cursor: pointer;
}

.clickable-rs>td:hover {
  cursor: pointer;
}

nav#head {
  position: fixed;
  width: 100%;
  z-index: 1;
}

h1 {
  margin-top: 70px;
}

.Register_head {
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right:auto;
  max-width: 800px;
}

.Register {
  background: url('/images/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.Register_form {
  background-color: azure;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right:auto;
  max-width: 800px;
}


.Search_head {
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right:auto;
  max-width: 800px;
}

.Search {
  background: url('/images/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.Search_form {
  background-color: azure;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right:auto;
  max-width: 800px;
}

.Detail_head {
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right:auto;
  max-width: 1200px;
}

.Detail {
  background: url('/images/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.Detail_form {
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right:auto;
  max-width: 1200px;
}

thead.detail-thead {
  background-color: darkgray;
  color: black;
}

tbody.detail-tbody {
  background-color:white;
  color: black;
}

.car-img{
  width: 100%;
  height: auto;
}

table.info_table>tbody>tr>td, table.info_table>thead>tr>th{
  padding-left: 25px;
}

.List_head {
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right:auto;
  max-width: 800px;
}

.List {
  background: url('/images/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.List_form {
  background-color: azure;
  
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}


.dropdown-menu {
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
  min-width:0px !important;
}

.dropdown-menu li {
  color: white;
  
}


#option3 {
  padding-right: 11px;
}

table#list_table>thead {
  color: cornflowerblue;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: black;
  color: gray;
  z-index: 1;
}
#footerlink {
    margin-top: 20px;
}

.container-bottom {
  height:70px;
}

.input-group .location_button {
  border-style: none;
  background: none;
  padding: 0;
}


#errorM {
  color : red;
  font-style: italic;
}

.autocomplete {
  position: relative;
  display: inline-block;
  
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  width: 200px;
  max-height: 250px;
  overflow: auto;
  text-align: left;
}


.autocomplete-items div {
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid black;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: grey;
  
}

#map {
  width: 100%;
  height: 0;
  position: relative;
  transition: height 0.3s ease-in;
}

.sorry {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  
  flex-direction: column;
  text-align: center;
  justify-content: center;

  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;

}